# Binaries for programs and plugins
data
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp
*.swo
website/website
auth/auth

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
